.header {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin-right: 20px;
}

.icon:hover {
  cursor: pointer;
}

.contact {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.form {
  display: flex;
  margin: 0 30%;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.custom-input {
  padding: 12px 10px;
  font-size: 14px;
  background-color: #e6e6e6;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

textarea {
  padding: 12px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
}

textarea:focus {
  outline: none;
}

.btn {
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 70px;
  width: 250px;
  padding: 12px 10px;
  background-color: #1a1a1a;
  color: white;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}
