<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="/static/main.css" />
</head>
<body>
    <header>
        <div class="header">
          <div>
            <a href="/"><img src="/static/logo.png" alt="logo" height="100" /></a>
          </div>
          <div class="links">
            <a href="/about" class="link">Why Emosight?</a>
            <a href="/contact" class="link">Contact Us</a>
            <a href="/about" class="link">About Us</a>
          </div>
          <div class="icon">
            <button class="btn" type="submit"><a href="/login" style="color: black">Sign in</a></button>
            <button class="header-btn" type="button"> <a href="/signup" style="text-decoration: none; color: white;"> Get Started for free </a></button>
          </div>
        </div>
      </header>
      <section>
        <div class="main">
          <div>
            <h1>About Us</h1>
            <p>
                Pellentesque imperdiet tellus quis magna ullamcorper, vel tristique dolor porttitor. Morbi sed odio non magna dignissim ultricies. Aliquam metus nunc, tristique rhoncus risus quis, efficitur condimentum tellus. Vivamus rutrum tellus nisl, consequat maximus metus interdum sed. Duis egestas pulvinar aliquet. Ut volutpat purus risus, id facilisis lacus condimentum quis. Nullam lacinia, ex id porttitor mollis, nisi turpis fringilla sem, sit amet pharetra ante dolor congue libero. Aliquam sed massa rutrum, dictum tellus ut, cursus quam. Curabitur euismod elementum ex a pharetra. Etiam nunc libero, mattis eu posuere vel, tempor quis tellus. Duis semper odio leo, ut luctus diam posuere a. Proin congue dolor in odio hendrerit pellentesque.

                Proin nec sodales risus. Nam ut convallis neque. Nam ullamcorper euismod nibh at congue. Nulla eu lectus sed ipsum sagittis faucibus. Duis cursus ornare augue. Duis vitae convallis massa. Sed et hendrerit risus. Nam mi arcu, vulputate vestibulum efficitur a, eleifend ut nunc. Suspendisse vitae ultrices enim, ac interdum sapien. Curabitur lobortis diam ullamcorper orci suscipit semper.
                
                Proin urna erat, malesuada posuere lorem ac, consequat tincidunt diam. Vivamus imperdiet lectus at condimentum viverra. In ullamcorper non sapien quis vestibulum. Ut rhoncus dolor in urna laoreet condimentum. Ut gravida nisi felis, nec sodales tellus sodales id. Fusce id libero dictum, sodales dui eget, dignissim tortor. Quisque ullamcorper sed neque id malesuada. Fusce et tristique leo. Nullam nec vehicula sapien. Etiam diam nunc, scelerisque quis vestibulum eget, sagittis eget mi. Nullam pellentesque, est commodo scelerisque feugiat, dui enim semper nunc, at luctus leo nisl nec ipsum. Aenean sit amet dapibus mi, euismod consectetur tortor. Quisque eu ante ut est sagittis consectetur. Aliquam interdum cursus diam vel ultricies.
                
                Aliquam at nibh eget nisl iaculis volutpat sit amet non nulla. Vestibulum in bibendum velit. Pellentesque faucibus rutrum erat in posuere. Nullam tempor nunc orci, eu porta tellus malesuada non. Vivamus odio elit, elementum et vestibulum in, tincidunt ornare risus. Suspendisse bibendum porttitor hendrerit. Aliquam non rutrum nulla, elementum fringilla neque.
                
                Nulla suscipit tempor turpis, vel vehicula nibh sollicitudin feugiat. Quisque id vehicula ex. Ut et consequat dolor. Nulla vitae ipsum dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam consectetur sem id odio semper, et luctus nulla egestas. Vestibulum vel bibendum enim. Nunc sed elit eleifend, mollis dolor sed, lacinia dolor. Suspendisse non aliquet magna. Maecenas porttitor iaculis nisi eu venenatis. Praesent sapien magna, consectetur posuere lectus vel, sodales porttitor risus. Aliquam vel ipsum ac elit tempor facilisis. Suspendisse sed erat eu tortor condimentum tempus. Curabitur porta nisi sit amet metus mattis ultrices. Donec consectetur eget felis eget sollicitudin.
            </p>
        <!-- </div> -->
          <!-- <div class="box"><p>Watch Demo</p></div> -->
        <!-- </div> -->
      </section>
</body>
</html>