<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/contact.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <img src="/static/logo.png" alt="logo" height="100" />
        </div>
        <div class="icon">
          <img src="/static/home.png" alt="logo" height="50" />
        </div>
      </div>
    </header>
    <section class="contact">
      <form action="">
        <div class="form">
          <h2>Contact Us</h2>
          <input type="text" placeholder="Name" class="custom-input" />
          <input type="email" placeholder="Email" class="custom-input" />
          <textarea
            name="message"
            placeholder="Message"
            id=""
            cols="32"
            rows="7"
          ></textarea>
          <button class="btn" type="button">Send</button>
        </div>
      </form>
    </section>
  </body>
</html>
