<!DOCTYPE html>
<html>

<head>
    <!-- <title>Please download file</title> -->
    <style>
        a {
            color: black !important;
        }
    </style>
    <link rel="stylesheet" href="../static/css/models.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
    <div class="navigation">
        <header>
            <div class="header">
              <div>
                <a href="/"><img src="/static/logo.png" alt="logo" height="100" /></a>
              </div>
              <div class="links">
                <a href="/about" class="link">Why Emosight?</a>
                <a href="/contact" class="link">Contact Us</a>
                <a href="/about" class="link">About Us</a>
              </div>
              <div class="icon">
                <button class="btn" type="submit"><a href="/login" style="color: black">Sign in</a></button>
                <button class="header-btn" type="button"> <a href="/signup" style="text-decoration: none; color: white;"> Get Started for free </a></button>
              </div>
            </div>
          </header>
    </div>
    <br>
    <h3>please download a file</h3>
    <br>
    <a href="/static/file/results2.csv" download>Click here to Download file</a>

</body>

</html>