<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div>
          <a href="/"><img src="/static/logo.png" alt="logo" height="100" /></a>
        </div>
        <div class="links">
          <a href="/about" class="link">Why Emosight?</a>
          <a href="/contact" class="link">Contact Us</a>
          <a href="/about" class="link">About Us</a>
        </div>
        <div class="icon">
          <button class="btn" type="submit"><a href="/login" style="color: black">Sign in</a></button>
          <button class="header-btn" type="button"> <a href="/signup" style="text-decoration: none; color: white;"> Get Started for free </a></button>
        </div>
      </div>
    </header>
    <section>
      <div class="main">
        <div>
          <h1>Get Sentiment Analysis</h1>
          <p>
            Understand the impact your messaging has with a sentiment analysis
            test to measure emotional response
          </p>
        </div>

        <div class="box"><a class="" href="https://www.youtube.com/watch?v=NhCGMFEYW0U">Watch Demo</a></div>
      </div>
    </section>
  </body>
</html>
